
{% extends "base.html" %}

{% block script %}
    <link rel="stylesheet" href="/static/externals/mathlive/mathlive.core.css">
    <link rel="stylesheet" href="/static/externals/mathlive/mathlive.css">
{% endblock %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>

    <form action="" method="post" id="latex">
        <input type="text" name="name" id="name">
        <input type="textfield" name="description" id="description">
        <div class="mathfield" id='mathfield' >f(x)=</div>
        <input type="text" name="output" id="output">  </input>
        <input type="submit" name="send" value="submit" />
    </form>
    <script type='module' crossorigin="anonymous">
        import MathLive from '/mathlive.mjs';
        const mathfield = MathLive.makeMathField('mathfield', {
            onContentDidChange: updateOutput,
            virtualKeyboardMode: "manual"
        });
        {% if formula is defined %}
        mathfield.perform(['insert', {{ formula }}, {insertionMode:"replaceAll"}]);
        {% endif %}
        function updateOutput(mathfield) {
            document.getElementById("output").value= mathfield.$latex();
        }
    </script>


    {% if formulas is defined %}
    {% for formula in formulas %}
    <p>
     <a href="{{ url_for('calc_get', id=formula.id) }}">{{ formula.name }}</a>
    </p>
    {% endfor %}
    {% endif %}


{% endblock %}